{
  "presets": [
    [
      "es2015",
      // This is necessary for tree shaking,
      //webpack 2 can handle ES6 modules syntax.
      {"modules": false}
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ],
  "ignore": [
    "node_modules/**",
    "bower_components/**"
  ],
  "env": {
    "NODE": "8.7.0"
  }
}