dist/*bundle*
dist/vendor*
dist/Entry*
dist/manifest*
dist/vendors*

dist/styles.inline.css
dist/scss.styles.css

.idea/
bower_components/
node_modules/
dump.rdb
*.log

dist/images/**/*
!dist/images/icon_1.png
!dist/images/cat1.jpeg
!dist/images/skill_0.jpg
!dist/images/skill_1.jpg
!dist/images/skill_2.jpg
!dist/images/venacle-item1-open-vlink.png
!dist/images/venacle-item2-participate-vlink.png
!dist/images/venacle-item3-create-community.png
!dist/images/empty-club-image.png

npm-debug*
.vscode/