#sub_category {
  height: 40px;
  color: #3769ac;
  vertical-align: middle;
  position: relative;

  .sub_category_button {
    padding: 12px 25px;
    font-size: 16px;

    .sub_category_text {
      position: absolute;right: 25px;
    }
  }
}
menu.sub_category_list {
  background: #3769AC;
  color: #fff;
  margin: 0;
  position: relative;
  padding: 20px 25px;
  font-size: 13px;

  .sub_category_header {
    right: 25px;
    position: absolute;
  }

  ul {
    padding: 0;
    margin: 25px 0 0;
    border-top: 1px solid #fff;
    list-style: none;

    li:first-child {
      padding-top: 18px;
    }
    li {
      padding-top: 8px;
      &>h5 {
        text-align: left;
        margin-bottom: 2px;

        a {
          color: #fff;
          display: block;
        }
      }
      &>.sub_category.item {
        margin-bottom: 2px;

        a {
          text-align: right;
          color: #fff;
          width: 100%;
          display: block;
        }
      }
    }
  }
}

#best_filter {
  .sub_category.item {
    margin-bottom: 10px;
  }


  .Select {
    .Select-control {
      background-color: #3769AC;
      border: none;
      height: 12px;

      .Select-placeholder {
        line-height: 24px;
        color:#fff;
      }
    }

    &.Select--multi .Select-value {
      background-color: #ebf5ff;
      border: none;
      color: #3265AB;
      margin-left: 2px;
      margin-top: 2px;
    }

    .Select-input {
      height: 24px;
      color: #fff;

      &>input {
        padding: 2px 0 2px;
        line-height: 22px;
      }
    }
    .Select-clear-zone {
      color: #fff;
    }
    .Select-arrow-zone {
      .Select-arrow {
        color: #fff;
      }
    }
  }
}