#submit_box {
  .post_item {
    padding: 10px;

    &:last-child {
      border-bottom: none;
    }
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #B5C0D0;

    input.post_submit_title {
      width: 100%;
      padding: 5px 10px;
    }
    .post_header {
      .Select {
        width: 150px;
        display: inline-block;

        ~ .ui.input {
          width: 450px;
          display: inline-block;
          position: absolute;

          input {
            width:100%;
            border-left: none;
            height: 36px;
          }
        }
      }
    }
    .best_post_meta {
      margin: 0;
      padding: 2px 0;
      .author_nick {
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
      }
      .author_icon {
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 15px;
        }
      }
      .list {
        line-height: 0;

        > .item {
          margin: 0;
          padding: 0 5px;
          height: 12px;
          line-height: 12px;
          font-size: 12px;
        }
      }
    }
    #post_editor {
      &:hover {
        border-color: #ddd;
      }
      border: 1px solid #fff;
      min-height: 200px;
      -webkit-transition: border-color 0.3s;
      -moz-transition: border-color 0.3s;
      -ms-transition: border-color 0.3s;
      -o-transition: border-color 0.3s;
      transition: border-color 0.3s;

      a.medium-insert-buttons-show {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-transition: transform 100ms;
        -moz-transition: transform 100ms;
        -ms-transition: transform 100ms;
        -o-transition: transform 100ms;
        transition: transform 100ms;
      }

      a.medium-insert-buttons-show.medium-insert-buttons-rotate {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        -webkit-transition: transform 250ms;
        -moz-transition: transform 250ms;
        -ms-transition: transform 250ms;
        -o-transition: transform 250ms;
        transition: transform 250ms;
      }

      .medium-insert-embeds {
        figure {
          margin: 0;
        }
      }

      &:after {
        padding: 1em;
      }
    }

    .submit_button_box {
      padding: 10px 0;

      button:first-child {
        margin-right: 10px;
      }
    }
  }
}