.my_area {
  padding-right: 10px;

  #profile_id_button {
    padding-left: 5px;

    color:#fff;
    &:hover {
      color: #cbdbf0;
    }
  }

  #noti_button {
    cursor: pointer;
  }
  .item.noti {
    i.alarm ~ .label {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 10px;
      padding: 2px;
    }

    #alarm_popup {
      padding: 0;
      width: 260px;

      .alarm_header {
        padding: 5px 10px;
        font-size: 12px;
      }

      .ui.feed {
        margin-right: 1px;

        .is-read {
          background: #dedede;
        }

        .event {
          padding: 5px 10px;
          .label+.content {
            margin: 0 0 0 10px;
          }

          .content {
            .summary {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}