.my_area {
  padding-right: 10px;

  #profile_id_button {
    padding-left: 5px;

    color:#fff;
    &:hover {
      color: #cbdbf0;
    }
  }

  .item.noti {
    i.alarm ~ .label {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 10px;
      padding: 2px;
    }
  }
}