#about {
  padding: 10px;

  & > .container {
    padding: 10px;
    background: #fff;
    width: 100%;
    box-shadow: 1px 1px 1px 0 #c6c6c6;

    .company-info {
      background: #eee;
      border: 1px solid #ddd;
      font-size: 12px;

      h4.header {
        margin: 0;
        padding: 10px 0 0 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 10px;
      }
    }
  }
}