.collectionHeaderBox {
  padding: 10px;

  & > .collectionHeaderContent {
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px 0 #c6c6c6;
    -moz-box-shadow: 1px 1px 1px 0 #c6c6c6;
    box-shadow: 1px 1px 1px 0 #c6c6c6;

    & > h3.header {
      font-size: 1.2em;

      & > i:global(.fa) {
        color: #abc;
        padding-right: 5px;
      }
    }

    & > p {

    }
  }
}
