#search_forum_list {
  h4 {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
  }

  .search-forum-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.search-forum-item {
    border-bottom: 1px solid #eee;
  }
}