.avatar_img {
  &>.items > .item {
    padding: 12px;


  }
  &>.items > .header {
    height: 35px;
    background: #405EB3;
    color: #fff;
    position: relative;

    .header_title {
      padding: 10px;
    }
  }
}