.share_link_dropdown {
  cursor: initial;

  .ui.input.link {
    margin: 0;
    padding: 0;
  }

  .item {
    cursor: initial !important;

    h4.ui.header {
      font-size: 14px;
    }

    .ui.contents {
      font-size: 12px;
    }

    .ui.button.primary {
      font-size: 12px;
      padding: 0.7em 0.8em;
    }
  }
}