#submit_box {
  .search_box {

    .ui.search {
      .ui.icon.input {
        input {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
      }
      border-radius: 2px;
    }
  }

  .search_forum_box {

    .search_box {
      min-width: 500px;

      & > .header {

      }

      & > .search_forums {
        padding-bottom: 10px;

        .input {
          width: 100%;
        }
      }

      & > .forum_lists {
        display: flex;

        & > .created_forums_box, .following_forums_box, .ranking_forums_box {
          float: left;

          .header {
            font-size: 12px;
          }
          .list {
            font-size: 12px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            min-width: 100px;
          }
        }
      }
    }
  }

  .box {
    padding: 10px;

    .post_item {
      padding: 10px;
      margin: 0;
      background: #fff;
      -webkit-box-shadow: 1px 1px 1px 0 #c6c6c6;
      -moz-box-shadow: 1px 1px 1px 0 #c6c6c6;
      box-shadow: 1px 1px 1px 0 #c6c6c6;

      .submit_header {
        font-weight: bold;
        padding-bottom: 10px;

        & > .fa {
          padding-right: 5px;
        }
      }

      .post_header {
        display: flex;

        .input_form_box {
          flex: auto;
          padding-left: 10px;

          .input_form_header {
            display:flex;
            flex: auto;

            .ui.input {
              flex: auto;

              input {
                width: 100%;
                border-left: none;
                height: 36px;
              }
            }

            .Select {
              width: 150px;

              .Select-control {
                border: 1px solid rgba(34, 36, 38, 0.15);
                color: rgba(0, 0, 0, 0.87);
                border-radius: 0.07142857rem;
                border-right: 1px solid #eee;
              }
            }
          }

          .best_post_meta {
            padding-top: 3px;

            .author_nick {
              font-weight: bold;
              font-size: 13px;
              display: inline-block;
            }
            .author_icon {
              font-size: 13px;
              display: inline-block;
              vertical-align: middle;
              img {
                width: 15px;
              }
            }
          }
        }
      }

      #post_editor_background {
        padding-top: 10px;
        padding-left: 35px;
        padding-bottom: 15px;

        .editor_left_padding {
          padding-left: 10px;
          font-size: 14px;
          border-left: 1px solid #ddd;
          min-height: 191px;
          // min 200px - medium-editor-insert-plugin's active P tag margin 7 px - border 2px

          #post_editor {

            .medium-insert-buttons:not([data-active-addon="images"]) {
              .medium-insert-buttons-show {
                position: relative;
                left: 6px;
              }
            }

            .medium-insert-embeds {
              figure {
                margin: 0;
              }
            }

            p {
              margin: 0;
              padding: 6px 0 6px;
            }
          }
        }
      }

      .submit_images {
        padding-bottom: 5px;

        .header {
          padding: 5px 0;

          h4 {
            font-size: 13px;
            margin: 0;

          }
          p {
            font-size: 12px;

          }
        }
        ul.image_list {
          list-style: none;
          margin: 0;
          padding: 0;

          li.image_item {
            display: inline-block;
            width: 100px;
            height: 100px;
            text-align: center;
            overflow: hidden;
            border: 1px solid #eee;
            margin: 0 5px;
            position: relative;
            cursor: pointer;

            &.select_represent {
              .represent_box {
                position: absolute;
                top: 0;
                width: 100%;
                background: #058294;
                color: #fff;
              }
            }

            img {
              height: inherit;
            }
          }
        }
      }

      .submit_button_box {
        padding: 10px 0;

        button:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.editor-box {
  .ui.labeled.icon.menu.editor-type-menu {
    margin-top: 10px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px 0 #d9d9d9;
  }
  .hide {
    display: none;
  }
}

.url-meta-data-box {
  font-size: 12px;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #dedede;
}
