.header {
  font-weight: bold;
}

ul.list {
  margin: 0;
  padding: 5px 0;
  list-style: none;

  & li.item{
    position: relative;
    padding-bottom: 10px;

    & .anchor {
      color: inherit;
      cursor: pointer;
    }

    & .imageBox {
      width: 240px;
      height: 100px;
      overflow: hidden;
      position: relative;
      left: -10px;
      display: inline-block;

      & img {
        position: absolute;
        /* move the element half way across the screen */
        left: 50%;
        /* allow the width to be calculated dynamically */
        top: 50%;
        /* then move the element back again using a transform */
        transform: translateX(-50%) translateY(-50%);
      }
    }

    & .title {
      font-size: 1.05rem;
    }

    & .subTitle {
      & .club {
        display: inline;
        color: #aaa;
      }

      & .meta {
        display: inline-block;
        float: right;

        & i {
          padding-right: 3px;
        }

        & .like {
          padding-right: 5px;

          & > i {
            color: red;
          }
        }

        & .comment {
          & > i {
            color: #058294;
          }
        }
      }
    }
  }
}
