<form style="
    max-width: 600px;
    overflow: hidden;
    padding: 0;
    position: relative;"
>
    <div class="ui input fluid small"><input type="text" placeholder="여기에 검색.." value="">
        <div class="results"></div>
    </div>
</form>