#comment_box {
  margin: 10px auto;
  padding: 20px 0;
  font-size: 0.9em;

  .comment_header {
    height: 20px;

    .comment_count {
      float: left;
    }
    ul.comment_sort_box {
      margin: 0;
      padding: 0;
      float: right;
      li {
        display: inline-block;
        padding-right: 5px;
      }
    }
  }

  .actions {
    .like_icon, .comment_icon, .report_icon {
      display: inline-block;
    }
    .like_box, .comment_box, .report_box {
      display: inline-block;
    }

    .like_box, .comment_box {
      margin-right: 10px;
    }
    .like_box {
      color: red;
    }
    .comment_box {
      color: #27485E;
    }
    .report_box {
      float: right;
    }
  }

  &.comments > form.ui.reply.form {
    .field {
      width: 585px;
    }
  }

  form.ui.reply.form {
    margin-top: 1em;

    .field {
      width: 540px;
      display: inline-block;

      textarea {
        min-height:35px;
        height: 35px;
        font-size:0.9em;
      }
    }
    .ui.primary.submit.icon.button {
      float: right;
    }
  }
}